h1 {
font: bold 2em/1em "Impact", "MS Serif", "New York", serif;
margin: 0;
padding: 0;
color: #000000;
border-top: solid #000000 medium;
width: 1400px;
}

h2 {
font: bold 2em/1em "Impact", "MS Serif", "New York", serif;
margin: 0;
padding: 0;
color: #2F4F4F;
border-top: solid #000000 medium;
border-bottom: dotted #2F4F4F thin;
width: 1400px;
}

select {
  -webkit-appearance: none;
  appearance: none;
  font:  400 13px/1.3 "Impact", "MS Serif", "New York", serif;
  border: 1px solid #3b5998;
  line-height: 1;
  outline: 0;
  color: #3b5998;
  border-color: #3b5998;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: 3px;
  background: linear-gradient(#3b5998, #3b5998) no-repeat,
              linear-gradient(-135deg, rgba(255,255,255,0) 50%, white 50%) no-repeat,
              linear-gradient(-225deg, rgba(255,255,255,0) 50%, white 50%) no-repeat,
              linear-gradient(#3b5998, #3b5998) no-repeat;
  background-color: white;
  background-size: 1px 100%, 20px 20px, 20px 20px, 20px 60%;
  background-position: right 20px center, right bottom, right bottom, right bottom;   
}

button {
    background-color: #3b5998; /* Green */
    border: none;
    color: white;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

label{
	
	font:  400 20px/1.3 "Impact", "MS Serif", "New York", serif;
	color: #3b5998;

}

footer {
	bottom:0;
	left:0;
	color: #3b5998;
	font:  400 20px/1.3 "Impact", "MS Serif", "New York", serif;
	position:center;
    width: 100%;
    overflow:hidden;
    margin:0 auto;
	
}

.line{
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}


.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

.group text {
  font: 11px sans-serif;
  pointer-events: none;
}

.group path {
  stroke: #000;
}

path.chord {
  stroke-width: .75;
  fill-opacity: .75;
}
